body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  background-color: #e7eaf0;

}

/*guia de umidade*/

.guia_de_umidade {
  margin-left: 360px;
  margin-top: 30px;
  margin-bottom: -30px;
  font-size: 20px;
}




/*metricas*/

.metricas {
  display: flex;
  margin: 45px;
  text-align: center;
  line-height: 70px;
  font-weight: bolder;
  font-size: 12px;
  margin-left: 360px;
}

.quadrado-container {
  position: relative;
  width: 110px;
  height: 100px;
}

/*verde*/

.quadrado_verde {
  width: 90px;
  height: 75px;
  background-color: #78ca78;
  border-radius: 5px;
  transition: opacity 0.9s;
}

.quadrado-container:hover .quadrado_verde {
  opacity: 0.1;
}

.overlay-text {
  position: absolute;
  top: 65%;
  left: 41%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 13px;
  opacity: 1;
  visibility: hidden;
  letter-spacing: 1.5px;
}

.quadrado-container:hover .quadrado_verde+.overlay-text {
  visibility: visible;
  color: #038103;
}

.quadrado-container:hover .overlay-text {
  visibility: visible;
}

/*amarelo*/

.quadrado_amarelo {
  width: 90px;
  height: 75px;
  background-color: #ffdd19;
  border-radius: 5px;
  transition: opacity 0.5s;
}

.quadrado-container:hover .quadrado_amarelo {
  opacity: 0.1;
}

.quadrado-container:hover .quadrado_amarelo+.overlay-text {
  visibility: visible;
  color: #cdbb00;
}

/*laranja*/

.quadrado_laranja {
  width: 90px;
  height: 75px;
  background-color: #f79a2f;
  border-radius: 5px;
  transition: opacity 0.9s;
}

.quadrado-container:hover .quadrado_laranja {
  opacity: 0.1;
}

.quadrado-container:hover .quadrado_laranja+.overlay-text {
  visibility: visible;
  color: #c25b0c;
}

/*vermelho*/

.quadrado_vermelho {
  width: 90px;
  height: 75px;
  background-color: #f93d3d;
  border-radius: 5px;
  transition: opacity 0.9s;
}

.quadrado-container:hover .quadrado_vermelho {
  opacity: 0.1;
}

.quadrado-container:hover .quadrado_vermelho+.overlay-text {
  visibility: visible;
  color: #e01010;
}


/* graficos */
.conteudo_metricas_graficos {
  flex-direction: column;
}

canvas {
  margin-right: 70px;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.container-chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 28%;
}

.chart-itens {
  margin-bottom: 5%;
  width: 35vw;
  height: 35vh;
}

.div_alertas {
  width: 450px;
  background-color: #d8e3e6;
  border-radius: 5px;
  border: solid 1px;
  margin-right: 70px;
  margin-left: 15px;
  height: fit-content;
}

.informacoes {
  width: 60%;
  height: 35px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 10px;
  margin-top: 4px;
}

.informacoes h5 {
  font-weight: lighter;
}

.divisao {
  padding: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.quadro {
  width: 100px;
  border-radius: 5px;
  display: flex;
  margin: 6px;
}

.retangulo_branco {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  height: 30px;
  width: 70%;
  border-radius: 5px 0px 0px 5px;
  font-size: 10px;

}

.retangulo_umidade {
  background-color: #58c758;
  height: 30px;
  border-radius: 0px 5px 5px 0px;
  width: 70%;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
}

#retangulo_umidade_amarelo {
  background-color: #ffdd19;
  font-weight: bold;
}

#retangulo_umidade_vermelha {
  background-color: #f93d3d;
  font-weight: bold;
}

#retangulo_umidade_laranja {
  background-color: #f79a2f;
  font-weight: bold;
}

.quadro img {
  width: 10px;
  height: 10px;
}