/*header*/

body{
    margin: 0;
    padding: 0;
    background-color: #e7eaf0;
}

.header {
    display: flex;
    flex-direction: row;
    background-color:  #F8F5EC;
    padding-left: 380px;
    border-bottom: 4px solid #184062; 
}
.titulo{
    font-size: 28px;
    color:#184062 ; 
}