body{
    margin: 0;
    padding: 0;
    background-color: #e7eaf0;
}

.header {
    display: flex;
    flex-direction: row;
    background-color:  #F8F5EC;
    padding-left: 380px;
    border-bottom: 4px solid #184062; 
}

.titulo{
    font-size: 28px;
    color:#184062 ; 
}

/*tabela*/

.container-table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    table-layout: auto;
    background-color: #f8f5ec;
    width: 60vw;
    margin-top: 80px;
    margin-left: 23%;
    border: 1px solid #184062;
    border-collapse: collapse;
}

table th {
    background-color: #5E7C96;
    color: white;
    height: 50px;
}

table tr {
    border-bottom: 1px solid #184062;
    height: 40px;
    text-align: center;
}


/*Icons delet e edit*/

.delet {
    color: #FF3131;
}

.edit {
    color: #FFC259;
}

/*Botão Adicionar*/

.button {
    cursor: pointer;
    background-color: #00BF63;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    width: 100px;
    height: 30px;
    /* margin-top: 25px; */
    /* margin-left: ; */
    font-size: 15px;
}

.controle{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    margin-left: 23%;
    width: 60%;
    height: 40px;
    /* border: red solid 2px; */
}