/* inicio do menu lateral */

  @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');

body{
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;

}

#imgPerfil{
  height: 100px;
  width: 120px;
  margin-bottom: 5px;
}

#menuLateral{
  height: 100%;
  width: 22%;
  background-color: #184062;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  text-align: center;
  padding-top: 2%;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-itens {
  margin-top: 30px
}

.item{
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 220px;
  border-bottom: solid white 1px;
  margin-top: 10px;
  margin-bottom: 15px;
}

#menuLateral a{
  padding: 16px;
  text-decoration: none;
  font-size: 22px;
  color: white;
  display: block;
  cursor: pointer;
  width: fit-content;
}
#menuLateral a.Monitorar{
  font-size: 15px;

}

#menuLateral a span {
  padding-right: 25px;
}

#menuLateral p{
  font-size: 28px;
  color: white;
  display: block;
  font-weight: bold;
  margin-bottom: 15px;
}

.buttonSair {
  margin-top: 45px;
}

#conteudoPrincipal{
  margin-left: 23%;
}




/* fim do menu lateral */