@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');
body{
    overflow-x:hidden ;
}
#principal {
    color: #794830;
    margin-left: 10%;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

#imgCentroCafe {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.divPai{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: row-reverse; */
    width: 100%;
    height: 75vh;
    
}
#img_cafe {
    /* width: 100%; */
    height: 100% ;
    margin-left:17% ;
    background-repeat: no-repeat;
}
.textoInput{
    margin-bottom: 5px;

}

.input{
    padding-left: 15px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 3px;
    border: 2px solid #5C5B5B;
    height: 35px;
    width: 400px;
}
.buttonEnviar{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
    width: 120px;
    height: 35px;
    margin-top: 10px;
    background-color: #5f341c;
    color: white;
    border-radius: 3px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}


/* inicio footer */

#containderFooter {
    display: block;
}

#rodape {
    padding: 20px;
    /* margin-top: 5%; */
    text-align: center;
}

#icones,
#infos,
#termos {
    list-style: none;
    cursor: pointer;
    padding: 10px;
    color: #fff;
}

#icones li,
#infos li,
#termos li {
    display: inline;
    margin: 0 10px;

}

#icones img {
    width: 40px;
    height: 40px;
    color: #F8F5EC;
}

#infos a,
#termos li {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #fff;

}

#direitos {
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    font-size: 14px;
    color: #fff;
    /* Cor do texto branco */
}

.back-Rodape {
    background-color: #2A1A17;
}

.back-Rodape li,
li a,
li img {
    background-color: #2A1A17;
}

/* fim footer */